HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
sample-english.txt.out
ch00701.txt
ch00702.txt
chn123.wav
eng123.wav
eng1234.wav
glow.pptx
lib/aspose-cells-22.9.jar
lib/aspose-pdf-22.9.jar
lib/aspose-slides-22.5-jdk16.jar
lib/aspose-slides-22.9-jdk16.jar
lib/aspose-words-22.9-jdk17.jar
new_test_02.wav
new_test_022.wav
null
output3333.pptx
output_06.pptx
RectPicFrame.pptx
RectPicFrame_02.pptx
slide_1_shape_1.png
softEdges.pptx
table1_out.pptx
table01.pptx
StandardTables_out.pptx
