HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
sample-english.txt.out
ch00701.txt
ch00702.txt
chn123.wav
eng123.wav
eng1234.wav
glow.pptx
lib/aspose-cells-22.9.jar
lib/aspose-pdf-22.9.jar
lib/aspose-slides-22.5-jdk16.jar
lib/aspose-slides-22.9-jdk16.jar
lib/aspose-words-22.9-jdk17.jar
new_test_02.wav
new_test_022.wav
null
output3333.pptx
output_06.pptx
RectPicFrame.pptx
RectPicFrame_02.pptx
slide_1_shape_1.png
softEdges.pptx
table1_out.pptx
table01.pptx
StandardTables_out.pptx
D:/0000/EnBook002/Chapter015/video_list_file/input_list016.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list015.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list014.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list013.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list012.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list011.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list010.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list009.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list008.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list007.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list006.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list005.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list004.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list003.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list002.txt
D:/0000/EnBook002/Chapter015/video_list_file/input_list001.txt
D:/0000/CEFR/mac_gemini_output_156.md
D:/0000/CEFR/mac_gemini_output_155.md
D:/0000/CEFR/mac_gemini_output_154.md
D:/0000/CEFR/mac_gemini_output_153.md
D:/0000/CEFR/mac_gemini_output_152.md
D:/0000/CEFR/mac_gemini_output_151.md
D:/0000/CEFR/mac_gemini_output_150.md
D:/0000/CEFR/mac_gemini_output_149.md
D:/0000/CEFR/mac_gemini_output_148.md
D:/0000/CEFR/mac_gemini_output_147.md
D:/0000/CEFR/mac_gemini_output_146.md
D:/0000/CEFR/mac_gemini_output_145.md
D:/0000/CEFR/mac_gemini_output_144.md
D:/0000/CEFR/mac_gemini_output_143.md
D:/0000/CEFR/mac_gemini_output_142.md
D:/0000/CEFR/mac_gemini_output_141.md
D:/0000/CEFR/mac_gemini_output_140.md
D:/0000/CEFR/mac_gemini_output_139.md
D:/0000/CEFR/mac_gemini_output_138.md
D:/0000/CEFR/mac_gemini_output_137.md
D:/0000/CEFR/mac_gemini_output_136.md
D:/0000/CEFR/mac_gemini_output_135.md
D:/0000/CEFR/mac_gemini_output_134.md
D:/0000/CEFR/mac_gemini_output_133.md
D:/0000/CEFR/mac_gemini_output_132.md
D:/0000/CEFR/mac_gemini_output_131.md
D:/0000/CEFR/mac_gemini_output_130.md
D:/0000/CEFR/mac_gemini_output_129.md
D:/0000/CEFR/mac_gemini_output_128.md
D:/0000/CEFR/mac_gemini_output_127.md
D:/0000/CEFR/mac_gemini_output_126.md
D:/0000/CEFR/mac_gemini_output_125.md
D:/0000/CEFR/mac_gemini_output_124.md
D:/0000/CEFR/mac_gemini_output_123.md
D:/0000/CEFR/mac_gemini_output_122.md
D:/0000/CEFR/mac_gemini_output_121.md
D:/0000/CEFR/mac_gemini_output_120.md
D:/0000/CEFR/mac_gemini_output_119.md
D:/0000/CEFR/mac_gemini_output_118.md
D:/0000/CEFR/mac_gemini_output_117.md
D:/0000/CEFR/mac_gemini_output_116.md
D:/0000/CEFR/mac_gemini_output_115.md
D:/0000/CEFR/mac_gemini_output_114.md
D:/0000/CEFR/mac_gemini_output_113.md
D:/0000/CEFR/mac_gemini_output_112.md
D:/0000/CEFR/mac_gemini_output_111.md
D:/0000/CEFR/mac_gemini_output_110.md
D:/0000/CEFR/mac_gemini_output_109.md
D:/0000/CEFR/mac_gemini_output_108.md
D:/0000/CEFR/mac_gemini_output_107.md
D:/0000/CEFR/mac_gemini_output_106.md
D:/0000/CEFR/mac_gemini_output_105.md
D:/0000/CEFR/mac_gemini_output_104.md
D:/0000/CEFR/mac_gemini_output_103.md
D:/0000/CEFR/mac_gemini_output_102.md
D:/0000/CEFR/mac_gemini_output_101.md
D:/0000/CEFR/mac_gemini_output_100.md
D:/0000/CEFR/mac_gemini_output_099.md
D:/0000/CEFR/mac_gemini_output_098.md
D:/0000/CEFR/mac_gemini_output_097.md
D:/0000/CEFR/mac_gemini_output_096.md
D:/0000/CEFR/mac_gemini_output_095.md
D:/0000/CEFR/mac_gemini_output_094.md
D:/0000/CEFR/mac_gemini_output_093.md
D:/0000/CEFR/mac_gemini_output_092.md
D:/0000/CEFR/mac_gemini_output_091.md
D:/0000/CEFR/mac_gemini_output_090.md
D:/0000/CEFR/mac_gemini_output_089.md
D:/0000/CEFR/mac_gemini_output_088.md
D:/0000/CEFR/mac_gemini_output_087.md
D:/0000/CEFR/mac_gemini_output_086.md
D:/0000/CEFR/mac_gemini_output_085.md
D:/0000/CEFR/mac_gemini_output_084.md
D:/0000/CEFR/mac_gemini_output_083.md
D:/0000/CEFR/mac_gemini_output_082.md
D:/0000/CEFR/mac_gemini_output_081.md
D:/0000/CEFR/mac_gemini_output_080.md
D:/0000/CEFR/mac_gemini_output_079.md
D:/0000/CEFR/mac_gemini_output_078.md
D:/0000/CEFR/mac_gemini_output_077.md
D:/0000/CEFR/mac_gemini_output_076.md
D:/0000/CEFR/mac_gemini_output_075.md
D:/0000/CEFR/mac_gemini_output_074.md
D:/0000/CEFR/mac_gemini_output_073.md
D:/0000/CEFR/mac_gemini_output_072.md
D:/0000/CEFR/mac_gemini_output_071.md
D:/0000/CEFR/mac_gemini_output_070.md
D:/0000/CEFR/mac_gemini_output_069.md
D:/0000/CEFR/mac_gemini_output_068.md
D:/0000/CEFR/mac_gemini_output_067.md
D:/0000/CEFR/mac_gemini_output_066.md
D:/0000/CEFR/mac_gemini_output_065.md
D:/0000/CEFR/mac_gemini_output_064.md
D:/0000/CEFR/mac_gemini_output_063.md
D:/0000/CEFR/mac_gemini_output_062.md
D:/0000/CEFR/mac_gemini_output_061.md
D:/0000/CEFR/mac_gemini_output_060.md
D:/0000/CEFR/mac_gemini_output_059.md
D:/0000/CEFR/mac_gemini_output_058.md
D:/0000/CEFR/mac_gemini_output_057.md
D:/0000/CEFR/mac_gemini_output_056.md
D:/0000/CEFR/mac_gemini_output_055.md
D:/0000/CEFR/mac_gemini_output_054.md
D:/0000/CEFR/mac_gemini_output_053.md
D:/0000/CEFR/mac_gemini_output_052.md
D:/0000/CEFR/mac_gemini_output_051.md
D:/0000/CEFR/mac_gemini_output_050.md
D:/0000/CEFR/mac_gemini_output_049.md
D:/0000/CEFR/mac_gemini_output_048.md
D:/0000/CEFR/mac_gemini_output_047.md
D:/0000/CEFR/mac_gemini_output_046.md
D:/0000/CEFR/mac_gemini_output_045.md
D:/0000/CEFR/mac_gemini_output_044.md
D:/0000/CEFR/mac_gemini_output_043.md
D:/0000/CEFR/mac_gemini_output_042.md
D:/0000/CEFR/mac_gemini_output_041.md
D:/0000/CEFR/mac_gemini_output_040.md
D:/0000/CEFR/mac_gemini_output_039.md
D:/0000/CEFR/mac_gemini_output_038.md
D:/0000/CEFR/mac_gemini_output_037.md
D:/0000/CEFR/mac_gemini_output_036.md
D:/0000/CEFR/mac_gemini_output_035.md
D:/0000/CEFR/mac_gemini_output_034.md
D:/0000/CEFR/mac_gemini_output_033.md
D:/0000/CEFR/mac_gemini_output_032.md
D:/0000/CEFR/mac_gemini_output_031.md
D:/0000/CEFR/mac_gemini_output_030.md
D:/0000/CEFR/mac_gemini_output_029.md
D:/0000/CEFR/mac_gemini_output_028.md
D:/0000/CEFR/mac_gemini_output_027.md
D:/0000/CEFR/mac_gemini_output_026.md
D:/0000/CEFR/mac_gemini_output_025.md
D:/0000/CEFR/mac_gemini_output_024.md
D:/0000/CEFR/mac_gemini_output_023.md
D:/0000/CEFR/mac_gemini_output_022.md
D:/0000/CEFR/mac_gemini_output_021.md
D:/0000/CEFR/mac_gemini_output_020.md
D:/0000/CEFR/mac_gemini_output_019.md
D:/0000/CEFR/mac_gemini_output_018.md
D:/0000/CEFR/mac_gemini_output_017.md
D:/0000/CEFR/mac_gemini_output_016.md
D:/0000/CEFR/mac_gemini_output_015.md
D:/0000/CEFR/mac_gemini_output_014.md
D:/0000/CEFR/mac_gemini_output_013.md
D:/0000/CEFR/mac_gemini_output_012.md
D:/0000/CEFR/mac_gemini_output_011.md
D:/0000/CEFR/mac_gemini_output_010.md
D:/0000/CEFR/mac_gemini_output_009.md
D:/0000/CEFR/mac_gemini_output_008.md
D:/0000/CEFR/mac_gemini_output_007.md
D:/0000/CEFR/mac_gemini_output_006.md
D:/0000/CEFR/mac_gemini_output_005.md
D:/0000/CEFR/mac_gemini_output_004.md
D:/0000/CEFR/mac_gemini_output_003.md
D:/0000/CEFR/mac_gemini_output_002.md
D:/0000/CEFR/mac_gemini_output_001.md
output/170105.png
output/170112.png
output/170119.png
output/170126.png
output/170202.png
output/170209.png
output/170216.png
output/170223.png
output/170302.png
output/170309.png
output/170316.png
output/170323.png
output/170330.png
output/170406.png
output/170413.png
output/170420.png
output/170427.png
output/170504.png
output/170511.png
output/170518.png
output/170525.png
output/170601.png
output/170608.png
output/170615.png
output/170622.png
output/170629.png
output/170706.png
output/170713.png
output/170720.png
output/170727.png
output/170803.png
output/170810.png
output/170817.png
output/170824.png
output/170831.png
output/170907.png
output/170914.png
output/170921.png
output/170928.png
output/171005.png
output/171012.png
output/171019.png
output/171026.png
output/171102.png
output/171116.png
output/171123.png
output/171130.png
output/171207.png
output/171214.png
output/171221.png
output/171228.png
/logs/
# 配置文件（包含敏感信息，不上传）
config.properties
